<h2 class="pb-2 border-bottom">Cadastrar</h2>

<div class="row">
    <div class="col-md-3">
        <label class="form-label">Valor</label>
        <input type="number" class="form-control" placeholder="Valor" [(ngModel)]="valor" />
      </div>
</div>

<div class="row">
  <div class="col-md-3">
    <label class="form-label">Parcela</label>
    <input type="number" class="form-control" placeholder="Parcela" [(ngModel)]="parcela" />
  </div>
</div>

<div class="row">
    <div class="col-md-3">
      <label class="form-label">Total</label>
      <input type="text" readonly class="form-control" placeholder="Total" value="{{total | currency : 'R$'}}"/>
    </div>
  </div>

<br/>
  
<div class="row">
    <div class="col-md-3">
        <button class="btn btn-primary" type="button" (click)="calculate()">Calcular</button>
        <span *ngIf="total != 0">
            
        </span>
    </div>
</div>